{% extends 'base.html' %}

{% block style %}
    <style>
        h1 {
            background: MidnightBlue;
            color: white;
            border-radius: 6px;
            border: 1px solid SteelBlue;
            text-align: center;
        }
        .skills, form {
            text-align: center;
        }
        .mt-3 {
            background: CadetBlue;
            color: white;
            border-radius: 6px;
            border: 1px solid CadetBlue;
        }
    </style>
{% endblock style %}

{% block content %}
    <h1>{{ page_title }} - {{ job.get_level_display }}</h1>
    <div class="skills">
        {% for skill in job.skills.all %}
            <span class="badge text-bg-primary">{{ skill.title }}</span>
        {% endfor %}
    </div>

    <h2 class="mt-3">Descrição</h2>
    <p>{{ job.description|linebreaksbr }}</p>

    <h2 class="mt-3">Requisitos</h2>
    <ul>
        {% for requirement in job.requirements_list %}
            <li>{{ requirement }}</li>
        {% endfor %}
    </ul>

    <h2 class="mt-3">Responsabilidades</h2>
    <ul>
        {% for responsibilities in job.responsibilities_list %}
            <li>{{ responsibilities }}</li>
        {% endfor %}
    </ul>

    <form action="{% url 'interviews:create' job_pk=job.pk %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-success">Simular entrevista</button>
        <ul></ul>
    </form>
{% endblock content %}